.background-container{
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1110 !important;
    background-color: rgba(0,0,0,0.5);
}

.loading {
    top: 55vh;
    left: 15vw;
    z-index: 1040 !important;
}